header.header 
  // Navigation Bar
  nav.nav.nav--home
    .container 
      .logo 
        a.nav__el(href='#') MicroBank
  nav.nav.nav--user 
    if user 
      a.nav__el(href='#') My Account 
      a.nav__el(href='#') Fixed Deposits
      a.nav__el.nav__el--logout Log out
    else 
      button.nav__el LogIn 
      button.nav__el SignUp