extends base

block content 
  main.main 
    h1.heading-secondary
    .item 
      span Account Number: #{account.accountNumber}
    .item 
      span Customer ID: #{account.customerID}
    .item   
      span Balance: #{account.accountBalance}
    .item 
      span Account Type: #{account.accountType}
